*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: "Brush Script MT", cursive;
    list-style-position: inside;
    /* list-style-type: none; */
 }
 nav{
    width: 100%; 
    height: 100px;
    background-color: #FFC4C4;
    border: 2px solid #A10035;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
    clear: both;
    z-index: 10;
}
nav ul{
    list-style-type: none;
    float: right;
}
nav ul li{
    /* padding: 10px; */
    float: right;
  
   /* doesnt work on the li a for some reason  ¯\_(ツ)_/¯ */
    margin: 25px 0px; 
   
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 10px;
    background-color: #FF869E;
    border-radius: 10px;
    border: 2px solid #A10035;
    margin: 25px;
}
nav ul li a:hover{
background-color: #FFC4C4;
}
.hero{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/hero.jpg');
   
    float: left;
}
.herologo{
position: absolute;
right: 25%;
width: 50%;
top: 100px;
}


.recipebook{
    border: 1px solid #A10035;
    width: 100%;
    height: 3000px;
    background-color: #FFC4C4;
}


.link{
    color: #A10035;
}
.recipe{
   margin-top: 8%;
   margin-left: 10%;
    border: 2px solid #A10035;
    width: 20%;
    height: 25%;
    display: inline-block;
    border-radius: 10px;
    background-color: #FFE7BF;
}
section div img{
    border-radius: 10px 10px 0px 0px;
    width:100%;
}

section div div{
    margin: -5px 0px;
    /* border: #A10035 10px; */
    width: 100%;
    height: 10%;
    background-color: #FF869E;
    text-align: center;
    align-self: center;
    font-size: large;
    font-family: "Brush Script MT", bold;
}
section div div h2{
    padding-top: 5%;
    
}
.ingredints{
    margin-top: 8px;
    margin-left: 8px;
    width: 25%;
    padding: 0px;
    margin-right: 0%;
    float: left;
    clear: left;
    text-align: left;
    color:#A10035;
}
